
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f7f4ef;
    line-height: 1.6;
    scrollbar-width: thin;
    scrollbar-color: #4b3b2b #f3f2e9; 

}

main {
    flex: 1;
    padding: 2em;
    max-width: 1200px;
    margin: auto;
    color: #4b3b2b;
    padding-top: 100px; 

}

header {
    position: fixed;
    top: -100px; 
    left: 0;
    width: 100%;
    background: radial-gradient(circle at center, #6d4f3a, #4b3b2b 80%);
    color: #fff;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: top 0.3s ease;
    z-index: 1000;
}


header nav {
    display: flex;
    justify-content: center;
    gap: 2em;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

header nav a:hover {
    background-color: #6d4f3a;
    color: #f9f7f3;
}

header.visible {
    top: 0; 
}
header nav a.active {
    background-color: #f9f7f3; 
    color: #4b3b2b; 
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5em 1em;
}
section {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 8px;
    background-color: #f3f2e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #f3f2e9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, select, textarea {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4b3b2b;
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #6d4f3a;
}


footer {
    text-align: center;
    padding: 1em;
    background: radial-gradient(circle at center, #6d4f3a, #4b3b2b 80%);
    color: #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.gallery {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    flex-wrap: wrap;  
    gap: 15px;
    padding: 20px;
    justify-content: center;       
    margin-top: 20px;
    align-items: center;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;                   
    max-width: 200px;            
    height: 200px;                 
    display: flex;
    place-content: center;
    background-color: #e0e0e0;    
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
    align-items: center;
}

.gallery-item:hover img {
    align-items: center;
    transform: scale(1.1);
}


.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    font-size: 0.9em;
}

.gallery-item:hover .caption {
    transform: translateY(0);
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #f3f2e9; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4b3b2b; 
    border-radius: 10px; 
    border: 3px solid #f3f2e9; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6d4f3a; 
}

#toggleHeader {
    background-color: #4b3b2b; 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    font-size: 10px; 
    font-weight: bold; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#toggleHeader:hover {
    background-color: #6d4f3a; 
    transform: scale(1.05); 
}


#toggleHeader:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.video-section video {
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 2em; 
    color: #4b3b2b; 
    margin-bottom: 20px; 
}

.center{
    text-align: center; 
}
#sourcesBtn {
    background-color: #4b3b2b; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 10px; 
    font-weight: bold; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
#sourcesBtn:hover {
    background-color: #6d4f3a;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10000; 
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #f7f4ef;
    color: #4b3b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 80%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #4b3b2b;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #6d4f3a;
}


.modal-content ul {
    list-style: none;      
    padding: 0;
    margin: 20px 0 0;
}

.modal-content li {
    margin: 10px 0;
}

.modal-content a {
    color: #4b3b2b;        
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.modal-content a:hover {
    color: #6d4f3a;       
}
